.entry-main-container{
    min-height: 350px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

.entry-header-container{
    position: relative;
}

#save-button{
    width: 70px;
    float: right;
}

#back-button{
    width: 70px;
}

.no-margin{
    margin: 0px;
}
.editing-button{
    width: 30px;
    padding: 10px;
}
.button-container-main{
    float: right;
}