label, input, button { margin: 0 0 10px }

label, input { display: block }

input, button {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
    width: 100%;
    font-size: 16px;
}



input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid lightgray;
    display: block;
}

input[type="button"], input[type="submit"], button, .button {
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    background-color: darkslategrey;
    color: white;
    font-weight: 700;
}
button{
    border: none;
}