/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700&display=swap');

/* Imports */
@import "./text.css";
@import "./form.css";
@import "./container.css";
@import "./entry.css";

hr {
    height: 1px;
    border: none;
    background-color: lightgray;
    margin: 0 0 20px;
}

.center{
    text-align: center;
}